*{
    margin: 0;/**/
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 216, 220);
}
.wraper{
    max-width: 750px;
    margin:10px auto;
    background-color:rgb(255, 181, 195);
    padding: 40px;
    display: flex;
    border-radius:8px;
    flex-wrap: wrap;
}
.days-week{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom:1px solid #F86078;
}
.number-days{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.days-week span {/*Dia da semana*/
    color: #F86078;/*cor das letras*/
    font-weight: bold;
    display: inline-block;
    width: 14,2%;
}
.number-days span{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: black;
}
.mes-anterior{
    opacity: 0.5;
}
.day-selected{
    text-decoration: underline;
     
}